* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 980px;
	min-height: 100vh;
	margin: 0 auto;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	overflow: hidden;
	padding: 50px;
}

ul {
	counter-reset: list;
}

ul li {
	display: block;
	position: relative;
	padding-left: 30px;
	font-family: Arial, sans-serif;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}

ul li:before {
	content: counter(list);
	counter-increment: list;
	position: absolute;
	left: 0;
	bottom: 0;
}

ul li:last-child {
	margin-bottom: 0;
}


/*********************************************************************************************************/

li:nth-child(2n ):first-letter{
	color:orange;
	font-size: 34px;
}

li:nth-child(4n-1){
	color:red;
}

ul:before{
	display: block;
	content: "Этого текста тут быть не должно;0";
	width: 250px;
	height: 130px;
	padding: 10px;
	text-align: left;
	font-size: 34px;
	font-weight: bold;
	color: grey;
	border: 2px solid grey;
	position: relative;
	float: right;
}

ul:after{
	display: block;
	content:"А уж этого и подавно)))!!!";
	width: 250px;
	height: 90px;
	padding: 10px;
	text-align: left;
	font-size: 34px;
	font-weight: bold;
	color: grey;
	border: 2px solid grey;
	position: relative;
	float: right;
	margin-top: -110px;
}